.navbar {
    border-bottom: 2px solid black; 
    padding-top: 10px; 
    padding-bottom: 10px;
}
.navbar-brand {
    display: flex;
    justify-content: center;
    width: 100%; 
}
.navbar-brand img {
    height: 80px; 
}
.navbar-nav .nav-link {
    font-size: 18px; 
    margin-right: 20px; 
}
.icon-group i {
    font-size: 20px; 
    margin-left: 15px; 
}
.menu-icon {
    margin-right: 8px;
}

.banner {
    display: flex;
    align-items: center;
    padding: 20px;
}
.banner-content title {
    font-size: 30px;
    font-weight: bold; 
}
.banner-content {
    text-align: left; 
    font-size: 20px;
}

.card-body {
   background-color: #e1edc8;
}

.money {
    font-size: 20px;
    font-weight: bold;
    color: #2a723c;
}
.card {
    height: 400px; 
}

.card-img-top {
    height: 250px;
    object-fit: cover;
}

.card-body {
    padding: 20px;
}
.btn-yellow {
    background-color: #ffc107;
    color: #fff;
    padding: 10px 20px;
    border: none;
    width: 100%;
    border-radius: 5px;
}

.custom-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.img-container {
    height: 100%;
    max-height: 450px;
    overflow: hidden;
}
.overlay {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: white;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 10px;
  opacity: 0; /* Ẩn ban đầu */
  transition: opacity 0.3s ease-in-out; /* Hiệu ứng chuyển đổi */
}
.card:hover .overlay {
    opacity: 1; /* Hiện khi hover */
}
.carousel-inner {
    height: 100%;
}

.carousel-item img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}


#contact{
    margin-top: 100px;
}
#contact h1{
    text-align: center;
    font-weight: bold;
    margin-top: 50px;
    color:#97ca51;
    border-bottom: 2px solid#97ca51;
}
#contact input{
    background-color:white;
}
#contact input::placeholder{
    color: #000;
}
#contact textarea{
    background-color:white;
}
#contact textarea::placeholder{
    color: #000;
}
#messagebtn{
    text-align: center;
}
#messagebtn button{
    width: 200px;
    height: 30px;
    letter-spacing: 3px;
    font-weight: bold;
    background: #97ca51;
    border: 3px solid #97ca51;
    color: white;
    cursor: pointer;
}
#messagebtn button:hover{
    background-color:#97ca51;
}

/* Thêm hiệu ứng mượt mà cho chuyển ảnh */
.carousel-item {
    transition: transform 1.5s ease, opacity 1s ease; /* Thêm thời gian chuyển ảnh và hiệu ứng làm mờ */
}

/* Nếu muốn hiệu ứng mượt mà hơn cho ảnh trong carousel */
.carousel-inner {
    overflow: hidden; /* Ẩn phần ảnh ngoài vùng hiển thị */
}

/* Hiệu ứng opacity cho ảnh */
.carousel-item-next, .carousel-item-prev, .carousel-item.active {
    transition: transform 1s ease, opacity 1s ease; /* Thêm transition để giảm cảm giác giật */
}

.carousel-item-next, .carousel-item-prev {
    opacity: 0.5; /* Màu sắc nhạt khi ảnh chuyển tiếp */
}




